@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text color */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Add other global styles as necessary */
  
  /* Example of a dark mode button style */
  button {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #444444;
  }